body{
    background-image:url(/img/bg-palm.jpg);
    /*padding:200px;*/
    background-size: auto;
font-family:Arial, Helvetica, sans-serif;
letter-spacing: 2px;
}
.imagen{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: auto;
    max-width: 2oopx;
    display: block;
}
.nombre{
    text-align: center;
    padding: 30;
    font-size: 15px;
}
.redes{
    text-align: center;
    padding: 40px;
    flex-wrap: nowrap;

}
.links{
    text-align: center;
    margin-top: 20px;
    border: 1px solid white;
    border-width: 2px;
    width: 490px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
border-radius: 30px;
padding: 20px;
background-color: white;

}
a{font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 50px;
    text-decoration: none;
    color: rgb(4, 4, 4);
    transition: color 1s;
}
a:hover{
    color: rgb(13, 170, 112);
    background-color: white;

}
.flex-link{
   font-size: 4px;
   text-align: center;
  

}
.flex-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:center;
    flex-wrap: nowrap;
    align-items: center;
    flex-grow: 1;
}